<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamslab.tdprinting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dreamslab.tdprinting.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/TdPrintingTheme"
            >
        </activity>
        <activity
            android:name="com.dreamslab.tdprinting.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dreamslab.tdprinting.order.OrderActivity"
            android:label="@string/my_orders"
            android:theme="@style/TdPrintingTheme"
            >
            <intent-filter>
                <action android:name="dreamslab.intent.action.ACTION_ORDER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
